<a href="https://colab.research.google.com/github/pedinistar/Data-Exploration-with-Pandas/blob/main/Data_Exploration_Pandas_College_Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **READING THE DATA**

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('salaries_by_college_major.csv')

**This will show us the first 5 rows of our dataframe.**

In [18]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

# **PRELIMINARY DATA EXPLORATION AND DATA CLEANING WITH PANDAS**

**To see the number of rows and columns**

In [19]:
df.shape

(51, 6)

 51 rows and 6 columns

**We can access the column names directly with the `columns `attribute.**

In [20]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

## **Missing Values and Junk Data**

**NaN (Not A Number)** values are blank cells or cells that contain strings instead of numbers.

In [21]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

**Check the last couple of rows in the dataframe**

In [22]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

**Delete the Last Row**

In [23]:
clean_df = df.dropna()

In [24]:
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

# **ACCESSING COLUMNS AND INDIVIDUAL CELLS IN A DATAFRAME**

**Find College Major with Highest Starting Salaries**

In [25]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

**To find the highest starting salary we can simply chain the `.max()` method.**

In [26]:
clean_df['Starting Median Salary'].max()

74300.0

**The `.idxmax()` method will give us index for the row with the largest value.**

In [27]:
clean_df['Starting Median Salary'].idxmax()

43

**To see the name of the major that corresponds to that particular row, we can use the `.loc` (location) property.**
*Here we are selecting both a column ('Undergraduate Major') and a row at index 43*

In [28]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

**If you don't specify a particular column you can use the `.loc `property to retrieve an entire row:**

In [29]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

# **CHALLENGE**

In [30]:
clean_df['Mid-Career Median Salary'].max()

107000.0

In [31]:
clean_df['Mid-Career Median Salary'].idxmax()

8

In [32]:
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [33]:
clean_df['Undergraduate Major'].loc[8]

'Chemical Engineering'

In [34]:
clean_df['Starting Median Salary'].min()

34000.0

In [35]:
clean_df['Starting Median Salary'].idxmin()

49

In [36]:
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [37]:
clean_df['Undergraduate Major'].loc[49]

'Spanish'

In [38]:
clean_df['Mid-Career Median Salary'].min()

52000.0

In [39]:
clean_df['Mid-Career Median Salary'].idxmin()

18

In [40]:
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [41]:
clean_df['Undergraduate Major'].loc[18]

'Education'

# **SORTING VALUES & ADDING COLUMNS: MAJORS WITH THE MOST POTENTIAL VS LOWEST RISK**

## **Lowest Risk Majors**

**Difference between the two columns:**

In [42]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

Alternatively, you can also use the `.subtract()` method.

In [43]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

The output of this computation will be another Pandas dataframe column.

**We can add this to our existing dataframe with the `.insert()` method:**

In [44]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

## **Sorting by the Lowest Spread**

To see which degrees have the smallest spread, we can use the `.sort_values()` method

In [45]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

**Majors with the Highest Potential**

In [46]:
# Sorting the DataFrame by Salary in Descending Order
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

print(highest_potential)

# Selecting Specific Columns and Showing the Top 5 Rows
print(highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head())

                     Undergraduate Major    Spread  Starting Median Salary  \
17                             Economics  159400.0                 50100.0
22                               Finance  147800.0                 47900.0
8                   Chemical Engineering  122100.0                 63200.0
37                                  Math  137800.0                 45400.0
44                               Physics  122000.0                 50300.0
36                             Marketing  132900.0                 40800.0
30                Industrial Engineering  115900.0                 57700.0
14                          Construction  114700.0                 53700.0
45                     Political Science  126800.0                 40800.0
42                            Philosophy  132500.0                 39900.0
19                Electrical Engineering   98700.0                 60900.0
38                Mechanical Engineering   99300.0                 57900.0
12                  Computer Engineering   95900.0                 61400.0
1                  Aerospace Engineering   96700.0                 57700.0
33               International Relations  118800.0                 40900.0
25                               Geology  111000.0                 43500.0
13                      Computer Science   98000.0                 55900.0
16                                 Drama  116300.0                 35900.0
0                             Accounting  109800.0                 46000.0
2                            Agriculture  113700.0                 42600.0
28                               History  112000.0                 39200.0
10                     Civil Engineering   84600.0                 53900.0
9                              Chemistry  102700.0                 42600.0
7                    Business Management  108200.0                 43000.0
35  Management Information Systems (MIS)  100700.0                 49200.0
34                            Journalism  106600.0                 35600.0
11                        Communications  105500.0                 38100.0
3                           Anthropology  104200.0                 36800.0
21                                  Film  102100.0                 37900.0
4                           Architecture   85400.0                 41600.0
6                                Biology   98100.0                 38800.0
39                                 Music  107300.0                 35900.0
20                               English   99600.0                 38000.0
24                             Geography   92000.0                 41200.0
31           Information Technology (IT)   84500.0                 49100.0
46                            Psychology   95400.0                 35900.0
5                            Art History   96200.0                 35800.0
29                 Hospitality & Tourism   88500.0                 37800.0
43                   Physician Assistant   57600.0                 74300.0
48                             Sociology   87300.0                 36500.0
26                        Graphic Design   76000.0                 35700.0
23                              Forestry   70000.0                 39100.0
32                       Interior Design   71300.0                 36100.0
15                      Criminal Justice   74800.0                 35000.0
18                             Education   72700.0                 34900.0
27            Health Care Administration   66400.0                 38800.0
41                             Nutrition   65300.0                 39900.0
40                               Nursing   50700.0                 54200.0
47                              Religion   66700.0                 34100.0
49                               Spanish   65400.0                 34000.0

    Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
17                   98600.0                            50600.0
22                   88300.0                            47200.0
8                   107000.0                            71900.0
37                   92400.0                            45200.0
44                   97300.0                            56000.0
36                   79600.0                            42100.0
30                   94700.0                            57100.0
14                   88900.0                            56300.0
45                   78200.0                            41200.0
42                   81200.0                            35500.0
19                  103000.0                            69300.0
38                   93600.0                            63700.0
12                  105000.0                            66100.0
1                   101000.0                            64300.0
33                   80900.0                            38200.0
25                   79500.0                            45000.0
13                   95500.0                            56000.0
16                   56900.0                            36700.0
0                    77100.0                            42200.0
2                    71900.0                            36300.0
28                   71000.0                            37000.0
10                   90500.0                            63400.0
9                    79900.0                            45300.0
7                    72100.0                            38800.0
35                   82300.0                            45300.0
34                   66700.0                            38400.0
11                   70000.0                            37500.0
3                    61500.0                            33800.0
21                   68500.0                            33900.0
4                    76800.0                            50600.0
6                    64800.0                            36900.0
39                   55000.0                            26700.0
20                   64700.0                            33400.0
24                   65500.0                            40000.0
31                   74800.0                            44500.0
46                   60400.0                            31600.0
5                    64900.0                            28800.0
29                   57500.0                            35500.0
43                   91700.0                            66400.0
48                   58200.0                            30700.0
26                   59800.0                            36000.0
23                   62600.0                            41000.0
32                   53200.0                            35700.0
15                   56300.0                            32200.0
18                   52000.0                            29300.0
27                   60600.0                            34600.0
41                   55300.0                            33900.0
40                   67000.0                            47600.0
47                   52000.0                            29700.0
49                   53100.0                            31000.0

    Mid-Career 90th Percentile Salary     Group
17                           210000.0  Business
22                           195000.0  Business
8                            194000.0      STEM
37                           183000.0      STEM
44                           178000.0      STEM
36                           175000.0  Business
30                           173000.0      STEM
14                           171000.0  Business
45                           168000.0      HASS
42                           168000.0      HASS
19                           168000.0      STEM
38                           163000.0      STEM
12                           162000.0      STEM
1                            161000.0      STEM
33                           157000.0      HASS
25                           156000.0      STEM
13                           154000.0      STEM
16                           153000.0      HASS
0                            152000.0  Business
2                            150000.0  Business
28                           149000.0      HASS
10                           148000.0      STEM
9                            148000.0      STEM
7                            147000.0  Business
35                           146000.0      STEM
34                           145000.0      HASS
11                           143000.0      HASS
3                            138000.0      HASS
21                           136000.0      HASS
4                            136000.0  Business
6                            135000.0      STEM
39                           134000.0      HASS
20                           133000.0      HASS
24                           132000.0      HASS
31                           129000.0      STEM
46                           127000.0      HASS
5                            125000.0      HASS
29                           124000.0  Business
43                           124000.0      STEM
48                           118000.0      HASS
26                           112000.0      HASS
23                           111000.0  Business
32                           107000.0      HASS
15                           107000.0      HASS
18                           102000.0      HASS
27                           101000.0  Business
41                            99200.0      HASS
40                            98300.0  Business
47                            96400.0      HASS
49                            96400.0      HASS
     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

Let's break down this code step by step:

### 1. **Understanding `clean_df.sort_values(...)`**

- **`clean_df`:** This is your DataFrame, which is a table of data in Python using the Pandas library.
- **`sort_values(...)`:** This function is used to sort the rows of your DataFrame based on the values in a specific column.

   - **`'Mid-Career 90th Percentile Salary'`:** This is the column by which you want to sort your data. It likely represents the salary someone might earn at the 90th percentile of their career.
   - **`ascending=False`:** This means you're sorting the values in descending order. So, the highest salaries will be at the top.

### 2. **Assigning to `highest_potential`**

- **`highest_potential`:** This is a new DataFrame (or variable) created by sorting `clean_df`. It stores the data sorted by the 'Mid-Career 90th Percentile Salary' column, with the highest salaries at the top.

### 3. **Selecting Specific Columns: `highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']]`**

- **`[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']]`:** This selects only the 'Undergraduate Major' and 'Mid-Career 90th Percentile Salary' columns from the `highest_potential` DataFrame.

### 4. **`.head()` Function**

- **`.head()`:** This function shows the first 5 rows of the DataFrame. You can use it to quickly see the top entries.

### **Simple Example**

Imagine you have a DataFrame of different college majors and their potential salaries:

```python
import pandas as pd

# Sample Data
data = {
    'Undergraduate Major': ['Engineering', 'Economics', 'History', 'Arts'],
    'Mid-Career 90th Percentile Salary': [140000, 120000, 90000, 70000]
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Sorting the DataFrame by Salary in Descending Order
highest_potential = df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

# Selecting Specific Columns and Showing the Top 5 Rows
print(highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head())
```

**Output:**
```
  Undergraduate Major  Mid-Career 90th Percentile Salary
0         Engineering                            140000
1           Economics                            120000
2             History                             90000
3                Arts                             70000
```

In this example:
- The DataFrame is sorted by the 'Mid-Career 90th Percentile Salary' column in descending order.
- It shows that "Engineering" has the highest potential salary, followed by "Economics," "History," and "Arts."

This is how your code works—by sorting the data and then showing the top majors with the highest potential salaries.

**Majors with the Highest Potential**

In [9]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)

In [10]:
highest_potential.head(5)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM

**Majors with the Greatest Spread in Salaries**

In [47]:
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread.head(5)

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS

In [48]:
highest_sec_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)

In [49]:
highest_sec_spread.head(5)

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business

# **Grouping and Pivoting Data with Pandas**

In [52]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [54]:
clean_df.groupby('Group').mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,103958.333333,44633.333333,75083.333333,43566.666667,147525.000000
HASS,95218.181818,37186.363636,62968.181818,34145.454545,129363.636364
STEM,101600.000000,53862.500000,90812.500000,56025.000000,157625.000000

## **Number formats in the Output**

In [55]:
pd.options.display.float_format = '{:,.2f}'.format

In [56]:
clean_df.groupby('Group').mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

## **Learning Points & Summary**
### **Today's Learning Points**



- Use `.head()`, `.tail()`, `.shape` and .columns to explore your DataFrame and find out the number of rows and columns as well as the column names.

- Look for NaN (not a number) values with `.findna()` and consider using `.dropna()` to clean up your DataFrame.

- You can access entire columns of a DataFrame using the square bracket notation: `df['column name']` or `df[['column name 1', 'column name 2', 'column name 3']]`

- You can access individual cells in a DataFrame by chaining square brackets `df['column name'][index]` or using `df['column name'].loc[index]`

- The largest and smallest values, as well as their positions, can be found with methods like `.max()`, `.min()`, `.idxmax()` and `.idxmin()`

You can sort the DataFrame with `.sort_values()` and add new columns with `.insert()`

To create an Excel Style Pivot Table by grouping entries that belong to a particular category use the `.groupby()` method